- import '_forms.pug' as forms

extends partials/layout_guest

block content
    p.login-box-msg You are only one step a way from your new password, recover your password now.
    form(method='post')
        include _messages.pug
        for field in form
            !{forms.render_field(field)}
        .row
            .col-12
                button.btn.btn-primary.btn-block(type='submit') Change password
    p.mt-3.mb-1
        a(href=url_for(".login")) Login