- import '_forms.pug' as forms

extends partials/layout_guest

block content
    p.login-box-msg You forgot your password? Here you can easily retrieve a new password.
    form(method='post')
        include _messages.pug
        for field in form
            !{forms.render_field(field, horizontal_label=False)}
        .row
            .col-12
                button.btn.btn-primary.btn-block(type='submit') Request new password
    p.mt-3.mb-1
        a(href=url_for(".login")) Login
    p.mb-0
        a.text-center(href=url_for('.register')) Register a new account